body {
    font: 18px/36px 'lato';
    background: url(IMAGE/background.jpg);
    width: 100vh;
    height: 100vh;
    background-size: 100%;
    margin: auto;
    box-sizing: border-box;
}

.logo-chill {
    margin-top: 10px;
    margin: auto;
    padding: 0;
    font-family: url(FONTS/londrinasolid-black-webfont.woff);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chil {
    padding: 10px 20px;
    display: inline-block;
}

.container {
    background-color: rgb(160, 46, 46);
    background-size: 800px;
    padding: 210px;
    border-radius: 15px;
    margin: 100px auto;
    opacity: 80%;
    box-sizing: border-box;
}

.h3 {
    color: #ffff;
    text-align: center;

}

.h2 {}

.chil {
    display: inline-block;
    color: #ffff;
    font-size: 28px;
    background-color: #ffff;
    padding: 2px;
}

.login-colom {
    background-color: black;
}