* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo-chill {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 50px;
    color: white;
}

.logo{
    width: 60px;
    height: 50px;
}

.container .logo-chill .chil {
    font-size: 5em;
    font-family: "Londrina Solid", sans-serif;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 181px 455px;
    background: url(IMAGE/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    height: 600px;
    width: 450px;
    margin-top: 181px;
    margin-bottom: 181px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .5);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: auto;
}

.container .Masuk h3 {
    font-size: 30px;
    color: white;
}

.belum-Punya-Akun {
    color: white;
}

.belum-Punya-Akun a {
    color: white;
}

h5 {
    color: white;
    margin: auto;
    padding: 0;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .belum-Punya-Akun {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-top: 80px;
}

.container p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.belum-Punya-Akun {
    width: 75%;
    height: 50px;
    margin: auto;

}

button {
    width: 300px;
    height: 45px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

input {
    width: 80%;
    height: 40px;
    background: none;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius: 40px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login {
    /* position: absolute; */
    width: 100%;
    height: 70px;
    margin: auto;

}

p {
    color: white;
}

form img {
    width: 20px;
    height: 20px;
    margin: 20px 20px;
}

.button {
    margin: auto;
    padding: 50px;
}

.button p {
    margin: auto;
    padding: 20px 0px;
}

.btn {
    opacity: .3;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}