*/ {
    margin: 0;
    padding: 0;
}

body {
    font: 18px/36px 'lato';
    background: url(IMAGE/background.jpg);
    width: 100vh;
    height: 100vh;
    background-size: 100%;
    margin: auto;
    box-sizing: border-box;
}

.container {
    background-color: black;

    height: 663px;
    width: 529px;
    background-size: 800px;
    padding-top: 10px;
    border-radius: 15px;
    margin: auto;
    margin-top: 30px;
    opacity: 80%;
    box-sizing: border-box;
}

.logo-chill {
    margin-top: 10px;
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


h3 {
    margin: auto;
    color: #ffff;
    font-size: 32px;
    width: 0px;
    height: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px bold white;
}

h5 {
    color: #ffff;
    margin: auto;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chil {
    display: inline-block;
    color: #ffff;
    font-size: 50px;
    padding: 2px;
    border: 2px white;
    margin-left: 30px;
    margin-right: 30px;
    font-family: ;

}

.login-colom {
    background-color: ;
    color: #ffff;
    height: 81px;
    width: 449px;
    margin: auto;
    padding-right: 100px;
    border-radius: 30px;
    border-color: #ffff;
    border-width: 10px;
    padding-left: 10px;
    box-sizing: border-box;

}

.login-colom .masukkan-user-name {
    width: 400px;
    height: 30px;
    padding: 3px;
    border: 1px solid white;
    border-radius: 50px;
    margin: auto;
}

.pasword-colom {
    background-color: ;
    color: #ffff;
    height: 81px;
    width: 449px;
    margin: auto;
    padding-right: 100px;
    border-radius: 30px;
    border-color: #ffff;
    border-width: 10px;
    padding-left: 10px;
    box-sizing: border-box;

}

.masukkan-pasword {
    width: 400px;
    height: 30px;
    padding: 3px;
    border: 1px solid white;
    border-radius: 50px;
    margin: auto;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.masukkan-pasword img {
    height: 50%;
    width: ;
}

.belum-punya-akun {
    width: 100px;
    height: 200px;
    background-color: red;
}

.masuk {
    width: 300px;
    height: 30px;
    background-color: #7b7979;
    margin: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.atau{
    display: flex;
    align-items: ;
    justify-content: center;
    width: 300px;

}

.masuk-dengan-google {
    width: 400px;
    height: 30px;
    background-color: black;
    margin: auto;
    border: 2px solid white;
    margin-top: 40px;
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    box-sizing: border-box;

}